/* You can add global styles to this file, and also import other style files */
@import url('https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css');
/* @import url('https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js'); */
/* @import "~angular-notifier/styles"; */

body{
    background: #edf1f5;
    margin-top: 20px;
}

.table-wrapper {
    width: 90%;
    margin: 0 auto;
  }
  /* .table-responsive {
    max-width: 70%;
    overflow-y: scroll;
    border: solid  red;

  } */

.card{
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid transparent;
    border-radius: 0;
}

.card{
    margin-bottom: 30px;
}

.table-title{
    background-color: aqua;
}
